<h1 class="hidden">푸터</h1>
<!-- 푸터 내용 (푸터가 들어갈 자리) -->
<div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h2 class="logo-text">MZ-ONE</h2>
      <p class="footer-info">
        MZ-ONE은 MZ(20-30)세대를 위한 종합 정보 플랫폼입니다. <br />부동산,
        세금, 복지, 생활팁 등 다양한 정보를 제공합니다.
      </p>
      <div class="contact">
        <span><i class="fas fa-phone"></i> &nbsp; 123-456-789</span>
        <span><i class="fas fa-envelope"></i> &nbsp; info@mz-one.com</span>
      </div>
      <div class="socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-section links">
      <h2>퀵 링크</h2>
      <ul>
        <li><a href="/index.html">홈</a></li>
        <li><a href="#">서비스</a></li>
        <li><a href="#">약관</a></li>
        <li><a href="#">개인정보처리방침</a></li>
      </ul>
    </div>
    <div class="footer-section contact-form">
      <h2>문의하기</h2>
      <form method="get">
        <input
          type="email"
          name="email"
          class="text-input contact-input"
          placeholder="이메일 주소를 입력하세요..."
        />
        <textarea
          name="message"
          class="text-input contact-input"
          placeholder="메시지를 입력하세요..."
        ></textarea>
        <button type="submit" class="btn btn-big contact-btn">
          <i class="fas fa-envelope"></i>
          &nbsp;보내기
        </button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">&copy; 2024 MZ-ONE | 디자인: MZ-ONE 팀</div>
</div>
