<!-- 헤더 내용 (네비게이션이 들어갈 자리) -->
<h1 class="hidden">헤더</h1>
<div class="header">
  <div class="header_main">
    <div class="left_nav_box">
      <div class="logo">
        <a class="logo_text" href="/index.html">MZ-ONE</a>
      </div>
      <div class="tab_box">
        <div class="tab menu_item">가이드</div>
        <div class="tab">
          <a class="tab_text" href="/community/board.html">커뮤니티</a>
        </div>
      </div>
    </div>
    <div class="middle_nav_box">
      <form id="searchForm" method="get">
        <div class="search_box">
          <input
            id="searchInput"
            class="search_bar"
            type="text"
            placeholder="검색어를 입력해주세요"
          />
          <button type="submit" class="search_btn">
            <img
              class="search_icon"
              src="/images/icons/Search.png"
              alt="search"
            />
          </button>
        </div>
      </form>
    </div>
    <div class="right_nav_box">
      <a href="/member/login.html">
        <div class="login btn btn_text">
          로그인
        </div>
      </a>
      <a href="/member/signUp.html">
        <div class="sign_up btn btn_text">
          회원가입
        </div>
      </a>
    </div>
  </div>
</div>
<div class="header_sub">
  <div class="sub_menu">
    <a class="sub_menu_box" href="/guide/board.html?value=0">
      <div class="sub_menu_text">부동산</div>
    </a>
    <a class="sub_menu_box" href="/guide/board.html?value=1">
      <div class="sub_menu_text">생활팁</div>
    </a>
    <a class="sub_menu_box" href="/guide/board.html?value=2">
      <div class="sub_menu_text">세금</div>
    </a>
    <a class="sub_menu_box" href="/guide/board.html?value=3">
      <div class="sub_menu_text">복지</div>
    </a>
  </div>
</div>