
<!-- 사이드바 내용, 안쓰는 페이지는 지워도 됨 -->
<div class="side_bar_top_box">
  <h1 class="sied_bar_title">마이페이지</h1>
  <img class="close_btn" src="/images/icons/Arrow-left-circle.png"></img>
</div>
<div class="side_bar_bottom_box">
  <a href="/member/update.html" class="side_bar_bottom_menu">회원정보수정</a>
  <a href="/member/calendar.html" class="side_bar_bottom_menu">나의 캘린더</a>
  <a href="/member/like.html" class="side_bar_bottom_menu">좋아요</a>
  <a href="/member/resign.html" class="side_bar_bottom_menu">회원탈퇴</a>
</div>
</aside>
<aside class="open_btn">
<img class="close_btn" src="/images/icons/Arrow-right-circle.png"></img>
