.main {
  /* transition: height 0.5s ease; */
}

/*배너영역*/
.banner_wrap {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.banner {
  width: 100%;
  height: 100%;
}
.banner_img {
  width: 100%;
  height: 100%;
}
.link_banner {
  cursor: pointer;
}
/* 가이드영역 */
.guide_container {
  width: 100%;
  height: 605px;
  padding: 50px 0 85px;
  box-sizing: border-box;
}
.guide_text {
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.guide_list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
}

.guide_card {
  position: relative;
  width: 295px;
  height: 400px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #eee;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;
  text-align: center;
}
.guide_card:hover {
  box-shadow: 3px 3px 3px #ccc;
  transition: 0.5s ease-out;
}
.guide_card a {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.guide_img { 
  width: 100%;
  height: 100%;
}
.guide_list_text {
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  pointer-events: none;
}
.guide_img:hover {
  transform: scale(1.1);
  filter: brightness(0.5);
  transition: 0.5s ease-out;
}
.guide_img:hover .guide_list_text,
.guide_card:hover .guide_list_text {
  opacity: 1;
  transition: 0.5s ease-out;
}


/* 키워드 영역 */
.keyword_container {
  width: 100%;
  height: 525px;
  padding: 90px 0 85px;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
.keyword_text {
  width: 100%;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.keyword_list_container {
  width: 800px;
  margin: 0 auto;
}
.keyword_box {
  padding: 15px 25px;
  margin: 10px;
  border-radius: 30px;
  background-color: #007bff;
  font-size: 20px;
  color: #fff;
} 
.keyword_box:hover {
  background-color: #0056b3;
  transition: 0.5s ease-out;
}
.keyword_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 210px;
  overflow: hidden; 
  transition: height 0.5s ease;
}
.keyword_list a {
  text-decoration: none;
}
.keyword_arrow_box {
  display: flex;
  justify-content: center;
}
.keyword_arrow {
  border: none;
  background: transparent;
  cursor: pointer;
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: #007bff;
}