a {
  text-decoration: none;
  color: #333;
}
header {
  background-color: white;
  z-index: 2;
  border-bottom: 1px solid #ddd;
}
.header_main {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 80px;
}
/* 왼쪽 박스 */
.left_nav_box {
  width: 350px;
  display: flex;
  justify-content: space-between;
}
.logo {
  font-size: 30px;
  font-weight: 800;
  display: flex;
  align-items: center;
}
.logo_text {
  color: #007bff;
}
.tab_box {
  width: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.tab {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  width: 80px;
  box-sizing: border-box;
  justify-content: center;
}
.tab:hover {
  cursor: pointer;
}
.tab:hover,
.tab:hover .tab_text {
  color: #007bff;
}
/* 가운데 박스 */
.middle_nav_box {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search_bar {
  width: 400px;
  height: 40px;
  padding-left: 20px;
  border-radius: 25px;
  border: 2px solid #666;
}
.search_btn {
  position: relative;
  height: 40px;
  top: 9px;
  right: 50px;
  background-color: white;
  border: none;
  border-radius: 0px 40px 40px 0px;
}
.search_btn:hover {
  background-color: rgb(198, 198, 198);
  cursor: pointer;
}
.search_icon {
  width: 30px;
}
/* 오른쪽 박스 */
.right_nav_box {
  width: 300px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 40px;
  font-weight: 600;
  margin-left: 10px;
}
.btn:hover {
  background-color: #007bff;
  cursor: pointer;
}
.btn:hover,
.btn:hover .btn_text {
  color: white;
}
/* 서브 네비가 들어갈 자리 */
.header_sub {
  height: 60px;
  width: 100%;
  background-color: white;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: none;
}
.sub_menu {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-left: 470px;
  display: none;
}
.sub_menu_box {
  width: 78px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub_menu_box:hover {
  box-shadow: 0px 3px;
  color: #007bff;
}
