.main {
  height: 1250px;
}


.text_box {
 display: flex;
 justify-content: center;
 height: 200px;
}
.text_post {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  margin-right: 250px;
  cursor: pointer;
  border: none;
  background: transparent;
}
.text_guide {
  margin-top: 50px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: transparent;
}


.list_line_top {
  border: 3px solid rgb(228, 206, 248);
  width: 1000px;
  margin: 0 auto;
}


.post_list_container {
  margin-top: 50px;
  width: 1000px;
  height: 735px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.post_content_box {
  margin-right: auto;
  font-weight: bold;
}
.post_title_box {
  height: 70%;
}
.post_list_form {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  width: 1000px;
  height: 70px;
}
.post_headline {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin-top: 5px;
}
.post_title {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  margin-top: 6px;
}
.post_info_box {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
.post_writer {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
.post_date {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.post_view {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.post_keyword_box { 
  margin-left: auto;
  height: 45px;
}
.post_keyword {
  background-color: rgb(86, 23, 145);
  padding: 10px;
  border-radius: 30px;
  color: white;
}

.post_line {
  border: 0.5px solid rgb(236, 223, 248);
  width: 1000px;
  margin: 0 auto;
}


.list_line_bottom {
  border: 3px solid rgb(228, 206, 248);
  width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
}


.guide_list_container {
  margin-top: 50px;
  width: 1000px;
  height: 750px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.guide_content_box {
  margin-right: auto;
  font-weight: bold;
}
.guide_title_box {
  height: 70%;
}
.guide_list_form {
  display: flex;
  justify-content: center;
  margin-top: 2px;
  width: 1000px;
  height: 70px;
}
.guide_headline {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  margin-top: 5px;
}
.guide_title {
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  margin-top: 6px;
}
.guide_info_box {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
}
.guide_writer {
  display: flex;
  justify-content: center;
  margin-right: 5px;
}
.guide_date {
  display: flex;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}
.guide_view {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}

.guide_keyword_box { 
  margin-left: auto;
  height: 45px;
}
.guide_keyword {
  background-color: rgb(86, 23, 145);
  padding: 10px;
  border-radius: 30px;
  color: white;
}

.guide_line {
  border: 0.5px solid rgb(236, 223, 248);
  width: 1000px;
  margin: 0 auto;
}



.pagination_box {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.prev_button {
  margin: 0 5px;
  cursor: pointer;
}
.next_button {
  margin: 0 5px;
  cursor: pointer;
}
.number_button_box {
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
} 
.number_button {
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  line-height: 0;
}

.number_button.active {
  font-weight: bold;
}