.BoardName1 {
  font-family: 'Malgun Gothic', sans-serif;
  font-size: 40px;
  font-weight: bold; 
  padding: 50px 0 10px 60px;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
}

.container {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 20px 60px;
}

.BoardName2 {
  font-size: 20px;
  color: #aaa;
}

.CheckBox {
  font-size: 20px;
  color: #000;
}

.CommunityBoard-Main {
  display: flex; 
  flex-wrap: wrap; /* 한 줄에 요소가 다 들어가지 않으면 다음 줄로 */
  justify-content: space-between; /* 자식 요소 사이 간격 조절 */
  padding: 10px;
  width: 1100px;
  height: auto;
  max-height: 900px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #ff00ff;
}

.CommunityHeadline, .CommunityTitle, .CommunityAuthor, .CommunityPostDate, .CommunityViews {
  font-size: larger;
  font-weight: 800;
}

.CommunityHeadline {
  padding: 10px;
  height: auto;
}

.CommunityHeadline.Notice {
  text-align: center; 
}

.CommunityHeadline.Guide {}

.inner-box-Notice {
  height: 20px; 
  background-color: rgb(255, 0, 0); 
  border-radius: 5px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-weight: bold; 
  text-align: center; 
  color: #ffffff;
}

.inner-box {
  height: 20px; 
  background-color: pink; 
  border-radius: 5px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  font-weight: bold; 
  text-align: center; 
}

.CommunityTitle {
  height: 20px;
  padding: 10px;
}

.CommunityTitleName {
  height: 20px;
  padding: 10px;
  text-align: left;
}

.CommunityTitleName a {}

.CommunityTitleName.Notice a {
  text-align: left;
  color: rgb(246, 144, 161);
  font-weight: bold; 
}

.CommunityAuthor {
  height: 20px;
  padding: 10px;
}

.CommunityAuthorAdmin {
  height: 20px;
  padding: 10px;
  text-align: center;
}

.CommunityAuthorMember {
  height: 20px;
  padding: 10px;
  text-align: center;
}

.CommunityPostData {
  height: 20px;
  padding: 10px;
}

.CommunityPostDataInput {
  height: 20px;
  padding: 10px;
  text-align: center;
}

.CommunityViews {
  height: 20px;
  padding: 10px;
}

.CommunityViewsData {
  height: 20px;
  padding: 10px;
}

/* .CommunityBoard-Main .post {
  display: flex;
  width: 100%;
  justify-content: space-between; 
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd; 
} */

.CommunityBoard-Main .post div {
  margin-bottom: 5px; /* 각 요소 간 간격 추가 */
}

.CommunityBoard-Main .post .CommunityTitleName a {
  text-decoration: none;
  color: inherit;
}