/* 작성자 : 이석현 */
.main {
  min-height: 1300px;
}

#guideName {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 3px #eee;
  padding :50px 0;
  border-bottom: 2px solid #E2DAD6;
}

.keywordContainer {
  margin: 20px 0;
}

#keywordList {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.keywordBox {
  padding: 12px 24px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
  width: auto;
  border-radius: 23px;
  text-align: center;
  color: #F5EDED;
  background-color: #6482ac;
  cursor: pointer;
}

.keywordBox:hover {
  background-color: #2d4a72;
  transition: 0.5s ease-out;
}

.nowKeyword {
  background-color: #2d4a72;
}

.guideCardContainer {
  width: 100% auto;
}

#guideCardList {
  clear: both;
  display: inline-block;
  padding-bottom: 100px;
}

.guideCard {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 305px;
  height: 220px;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #eee;
}

.guideCard:nth-child(4n) {
  margin-right: 0px;
}

.guideCard:hover {
  box-shadow: 3px 3px 3px #ccc;
  transition: 0.3s ease-out;
}

.guideCardTop {
  cursor: pointer;
  margin-bottom: 20px;
  height: 120px;
}

.guideCardName {
  display: inline-block;
  width: 50px;
  margin-top: 8px;
}

.guideCardKeyword {
  float: right;
  display: inline;
  border: 1px solid;
  border-radius: 20px;
  width: 65px auto;
  height: 16px;
  padding: 7px 12px;
  text-align: center;
  background-color: #6482AD;
  color: white;
}

.guideCardTitle {
  margin-top: 30px;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 550;
  line-height: 30px;
}

.guideCardDate {
  float: left;
  margin-top: 20px;
}

.guideCardLike {
  float: right;
  margin-top: 15px;
  width: 30px;
  cursor: pointer;
}