/* 작성자 : 이석현이석현 */
main {
  width: 1280px;
  margin: 0 auto;
}

#guideName{
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 3px #eee;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 10px;
  border-bottom: 1px solid #E2DAD6;
}

.keywordContainer {
  
  padding: 50px;
  
}

#keywordList {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.keywordBox {
  padding: 12px 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30px;
  display: inline-block;
  font-size: 20px;
  width: auto;
  border-radius: 23px;
  text-align: center;
  color: #F5EDED;
  background-color: #6482AD;
  cursor: pointer;
}

.keywordBox:hover {
  background-color: #2d4a72;
}

.guideCardContainer {
  width: 100% auto;
}

#guideCardList {
  clear: both;
}

.guideCard {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 295px;
  height: 220px;
  margin-bottom: 50px;
  margin-left: 20px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #eee;
}

.guideCard:hover {
  box-shadow: 5px 5px 5px #7b7b7b;
  transition: 0.3s ease-out;
}

.guideCardName {
  display: block;
  float: left;
  width: 50px;
  padding-top: 10px;
}

.guideCardKeyword {
  display: block;
  float: right;
  border: 1px solid;
  border-radius: 20px;
  width: 65px auto;
  height: 16px;
  padding: 7px 12px;
  text-align: center;
  background-color: #6482AD;
  color: white;
}

.guideCardTitle {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}

.guideCardAuthor {
  margin-top: 60px;
}

.guideCardDate {
  display: flex;
  float: left;
  margin-top: 10px;
  float: left;
  margin-top: 10px;
}

.guideCardLike {
  float: right;
  width: 30px;
  cursor: pointer;
}

.guideCardLike {
  float: right;
  width: 30px;
  cursor: pointer;
}
