/* 작성자 : 이석현 */
.main {
  height: auto;
}

#guideName {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 3px 3px #eee;
  padding-top: 80px;
  padding-bottom: 50px;
  padding-left: 20px;
  border-bottom: 2px solid #E2DAD6;
}

.upper {
  margin: 20px 0;
}

#cardTitle {
  font-size: 30px;
  padding-top: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
  display: inline;
}

#like {
  padding-bottom: 20px;
  width: 30px;
  height: 25px;
  float: right;
  margin-right: 12px;
  cursor: pointer;
}

.lower {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #E2DAD6;
  justify-content: space-between;
  
}

#root {
  font-size: 18px;
  padding-left: 20px;
  display: inline;
}

.btns {
  display: inline;
  margin-right: 8px;
}

.lowerBtn {
  display: inline;
  border: 1px solid #E2DAD6;
  padding: 5px;
  margin: 5px;
  border-radius: 7px;
  background-color: #eee;
  cursor: pointer;
}

.contentContainer {
  padding: 10px;
  font-size: 20px;
}

#imgs {
  width: 1280px;
}

#sources p {
  padding: 15px 15px 20px;
}

.links {
  font-weight: bold;
  padding: 5px 15px 5px;
  cursor: pointer;
  display: block;
}