.board_title {
  border-bottom: 1px solid #ddd;
  padding-bottom: 30px;
}

.title {
  font-size: 24px;
  padding-top: 70px;
  font-weight: bolder;
}

.write_button {
  float: right;
  height: 28px;
  width: 55px;
  background-color: #6482AD;
  color: white;
  border-radius: 7px;
  border: none;
}

.guide_card {
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 295px;
  height: 220px;
  margin-top: 20px;
  margin-left: 20px;
  padding: 20px;
  float: left;
  box-sizing: border-box;
  box-shadow: 3px 3px 3px #eee;
  cursor: pointer;  /* 마우스를 올렸을 때 손가락 모양으로 변경 */
}

.guide_card:hover {
  background-color: #f5f5f5; /* 마우스를 올렸을 때 배경색 변경 (선택 사항) */
}

.card-link {
  text-decoration: none; /* 기본 링크 스타일 제거 */
  color: inherit; /* 텍스트 색상 상속 */
}

.horse_head {
  display: block;
  float: left;
  width: 50px;
  padding-top: 10px;
}

.keyword {
  display: block;
  float: right;
  border: 1px solid;
  border-radius: 20px;
  padding: 7px 12px;
  text-align: center;
  background-color: #6482AD;
  color: white;
}

.guide_title {
  margin-top: 50px;
  font-size: 25px;
  font-weight: 600;
}

.author {
  margin-top: 60px;
}

.date {
  display: flex;
  float: left;
  margin-top: 10px;
}

.pagination_section {
  position:absolute;
  top: 1200px;
  margin-left: 440px;
}

.pagination_button, .pagination_button_1, .pagination_button_2 {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  background-color: #7FA1C3;
  border-radius: 10px;
  border: none;
  color: white;
  cursor: pointer;
}

.pagination_button.active {
  background-color: #4a6fa5;
  font-weight: bold;
}
